.window {
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.window nav {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eeeeee;
  height: 44px;
}

.window .tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.window main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 128px; */
  flex-grow: 1;
  user-select: none;
}

.window ul,
.window li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  align-items: center;
}

.window ul {
  display: flex;
  width: 100%;
}

.window li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

.window li.selected {
  background: #eee;
  height: 100%;
  color: #000;
  width: 100%;
}

.badge{
    background-color: #f89406;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 900;
}
.profile-left{
    display: flex;
    justify-content: center;
    align-items: center;
}